$b5-mobile-width: 320px;
$b5-tablet-width: 768px;
$b5-desktop-width: 992px;

@mixin mobile-only {
  @media (min-width: #{$b5-mobile-width}) and (max-width: #{$b5-tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet-only {
  @media (min-width: #{$b5-tablet-width}) and (max-width: #{$b5-desktop-width - 1px}) {
    @content;
  }
}

@mixin mobile-and-tablet {
  @media (min-width: #{$b5-mobile-width}) and (max-width: #{$b5-desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$b5-desktop-width}) {
    @content;
  }
}
